<h2 class="page-title">Create</h2>
<mat-card>
  <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" >
    <mat-form-field class="full-width">
      <input
        formControlName="surveyTitle"
        matInput
        placeholder="Enter Survey Title"
        maxlength="50"
        [required]="true"
      />
    </mat-form-field>
    <div class="survey-options">
      <div formArrayName="surveyQuestions" class="poll-options">
        <h3 class="list-title">Add Survey Questions</h3>

        <ol class="list-style">
          <li
            *ngFor="
              let questionCtrl of surveyForm.get('surveyQuestions')['controls'];
              let i = index
            "
          >
            <div [formGroupName]="i">
              <div>
                <mat-form-field class="full-width">
                  <input
                    formControlName="questionTitle"
                    maxlength="200"
                    matInput
                    placeholder="Question title"
                    [required]="true"
                  />
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-select
                    formControlName="questionType"
                    placeholder="Question type"
                    ng-model="myVar"
                    [(value)]="selectedOption[i]"
                    (selectionChange)="
                      onSelectQuestionType(selectedOption[i], i)
                    "
                    [required]="true"
                  >
                    <mat-option
                      *ngFor="let type of questions"
                      [value]="type.value"
                    >
                      {{ type.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div
                  formGroupName="questionGroup"
                  [ngSwitch]="selectedOption[i]"
                >
                  <div *ngSwitchCase="'Radio'">
                    <div
                      *ngIf="
                        questionCtrl.controls.questionGroup.controls.options
                      "
                    >
                      <ul class="question-type" formArrayName="options">
                        <li
                          *ngFor="
                            let optionCtrl of questionCtrl.controls
                              .questionGroup.controls.options.controls;
                            let j = index
                          "
                        >
                          <div [formGroupName]="j">
                            <mat-form-field>
                              <input
                                formControlName="optionText"
                                matInput
                                placeholder="option text"
                                maxlength="100"
                                [required]="true"
                              />
                            </mat-form-field>

                            <button
                              *ngIf="j >= 0"
                              (click)="removeOption(i, j)"
                              color="warn"
                            >
                              X
                            </button>
                          </div>
                        </li>
                      </ul>
                      <button
                        mat-raised-button
                        type="button"
                        (click)="addOption(i)"
                        class="mat-sm-button add-option-btn"
                        color="accent"
                      >
                        Add option
                      </button>
                    </div>
                  </div>
                  <div *ngSwitchCase="'Checkbox'">
                    <div
                      *ngIf="
                        questionCtrl.controls.questionGroup.controls.options
                      "
                    >
                      <ul class="question-type" formArrayName="options">
                        <li
                          *ngFor="
                            let optionCtrl of questionCtrl.controls
                              .questionGroup.controls.options.controls;
                            let j = index
                          "
                        >
                          <div [formGroupName]="j">
                            <mat-form-field>
                              <input
                                formControlName="optionText"
                                matInput
                                placeholder="option text"
                                maxlength="100"
                                [required]="true"
                              />
                            </mat-form-field>

                            <button
                              mat-raised-button
                              *ngIf="j >= 0"
                              (click)="removeOption(i, j)"
                              color="warn"
                            >
                              X
                            </button>
                          </div>
                        </li>
                      </ul>
                      <button
                        mat-raised-button
                        type="button"
                        (click)="addOption(i)"
                        class="mat-sm-button add-option-btn"
                        color="accent"
                      >
                        Add option
                      </button>
                    </div>
                  </div>
                  <div *ngSwitchCase="'Text'">
                    <mat-form-field class="full-width">
                      <textarea
                        style="resize: none"
                        disabled
                        matInput
                        placeholder="Textarea"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <button
                *ngIf="i > 0"
                mat-mini-fab
                color="warn"
                type="button"
                (click)="onRemoveQuestion(i)"
                class="poll-remove-btn"
              >
                X
              </button>
            </div>
          </li>
        </ol>
        <div fxLayout="row" fxLayoutAlign="end">
          <button type="button" mat-raised-button (click)="onAddQuestion()">
            Add Question
          </button>
        </div>
      </div>
    </div>
    <!-- <button type="submit">Value</button> -->
  </form>
</mat-card>
<!-- <div>
  <button
  >
    <span>Preview</span>
  </button>
</div> -->
<div>
  <h3>Save</h3>
<button (click)="exportJSON()">Save</button>
</div>