<router-outlet>
    <div>
        <button routerLink="/create">Create</button>
    </div>
    <div>
        <h4>Upload</h4>
        <input type="file" (change)="uploadFile($event)" />
        <div>
        </div>
      </div>
</router-outlet>

<!-- <form [formGroup]="form">
   <div *ngFor="let data of survey">
       <input formControlName="data.surveyTitle">
   </div>
</form> -->